<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_DIR">/data/logs/hello4j</Property>
        <Property name="PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} | %-5level | PPK | AppLog | Hello4j | %X{correlationId} | %X{transId} | JAVA | %thread | %logger{0} | %msg%n </Property>
    </Properties>
    <CustomLevels>
        <CustomLevel name="EVENT" intLevel="450"/>
    </CustomLevels>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${PATTERN}</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="${LOG_DIR}/application.log"
                     filePattern="${LOG_DIR}/$${date:yyyy-MM}/application-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>${PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_DIR}" maxDepth="2">
                    <IfFileName glob="*/application-*.log"></IfFileName>
                    <IfLastModified age="15d"></IfLastModified>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="EVENT">
            <AppenderRef ref="Console" level="EVENT" />
            <AppenderRef ref="RollingFile" level="EVENT" />
        </Root>
    </Loggers>
</Configuration>